/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    color: #FDFDFD;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

/* Hero Section */
#hero {
    background: url(../images/mrld-hero-image.png) no-repeat center center/cover;
    position: absolute;
    height: 223px;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hero h2 {
    color: white;
    font-size: 2rem;
    text-align: center;
}

/* Headings */
h1,
h2,
h3 {
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FDFDFD;
    text-decoration: none;
}

/* Header */
header {
    background-color: transparent;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* Styling of links in the header */
header a {
    text-decoration: none;
    color: inherit;
}

/* Menu styling */
#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #FDFDFD;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px black;
    display: none;
    top: 0;
    word-spacing: 10px;
    margin-top: 50px;
    color: white;
}

#nav-toggle:checked ~ nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    flex: 1 0 auto;
    margin-top: 43px;
}

/* Main Text Area Style */
#services {
    margin-top: 160px;
    text-align: center;
    font-size: 150%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 5%;
    font-size: 100%;
    background-color: #333;
    border-radius: 10px;
}

#services h2 {
    margin-bottom: 20px;
}

#services div {
    margin-bottom: 10px;
}

/* Embedded SoundCloud links positioning */
#sc-mixes {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 0 10px;
}

#sc-mixes h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.mix {
    flex: 1 1 300px;
    max-width: 600px;
    background-color: #222;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.mix iframe {
    width: 100%;
}

.mix-description {
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}

/* Styling for sign up form and buttons */
#sign-up-form {
    text-align: center;
    margin-top: 60px;
    font-size: 120%;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#sign-up-form h1 {
    margin-bottom: 20px;
}

#sign-up-form p {
    margin-bottom: 15px;
}

#button {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
}

#radio-buttons {
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: calc(100% - 22px);
}

.radio-option {
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.radio-option label {
    margin-left: 10px;
}

/* Footer styling and positioning */
footer {
    clear: both;
    position: relative;
    text-align: center;
    margin-bottom: 0;
}

#social-networks {
    text-align: center;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    padding: 5%;
    color: #FDFDFD;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Nav bar styling */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    #social-networks i {
        font-size: 175%;
    }

    #sc-mixes {
        padding: 0 40px;
    }
}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #FDFDFD;
    }

    #hero {
        height: 800px;
    }

    #social-networks i {
        font-size: 200%;
    }

    #sc-mixes {
        padding: 0 60px;
    }
}
